@{
  Layout = "_Layout";
  ViewData["Title"] = $"{@Model.Name} Details";
}

@model SweetSavory.Models.Flavor

<div class="text-center">
  <h1 class="display-4">@Model.Name Details</h1>
  <p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>
</div>


@if (Model.JoinEntities.Count == 0)
{
  <p>No treats have been assigned this flavor yet.</p>
}
else
{
  <p>This flavor is present in the following treats:</p>
  <ul>
    @foreach (var join in Model.JoinEntities)
    {
      <div class="delete-join">
        <li>
          @Html.ActionLink($"{@join.Treat.Name}", "Details", "Treats", new { id = @join.Treat.TreatId })
          @if (User.Identity.IsAuthenticated)
          {
            @using (Html.BeginForm("DeleteTreat", "Flavors"))
            {
              @Html.Hidden("joinId", @join.FlavorTreatId)
              <input type="submit" value="Remove Treat" class="btn btn-danger btn-sm">
            }
          }
        </li>
      </div>
    }
  </ul>
}

@if (User.Identity.IsAuthenticated)
{
  @if (ViewBag.ValidItems)
  {
    @using (Html.BeginForm("AddTreat", "Flavors"))
    {
      @Html.HiddenFor(model => model.FlavorId)

      @Html.Label("Add Treat")
      @Html.DropDownList("TreatId")
      <input type="submit" value="Add Treat" class="btn btn-dark btn-sm" />
    }
  }
  else
  {
    <p>This flavor is available in all treats.</p>
  }
  <hr>
  <p>@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId})</p>
  <p>@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId})</p>
}